* {
  box-sizing: border-box;
}

.container {
  background: red;
  padding: 30px;
}

.contents {
  color: white;
}

.contents:after {
  content: "저는 PC입니다.";
}

/* PC 기본 설정 */
@media screen and (max-width: 767px) {
  .container {
    background: blue;
  }
  .contents:after {
    content: "저는 MOBILE입니다.";
  }
}

@media screen and (min-width: 768px) and (max-width: 1167px) {
  .container {
    background: green;
  }
  .contents:after {
    content: "저는 TABLET입니다.";
  }
}
